html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Noto Sans JP', sans-serif;
}

.title {
	color: #837165;
}
p {
	word-wrap:break-word;
}

#sponsors_texts {
	word-break: keep-all;
	overflow-wrap: break-word;
}

.text-gradient {
	background: linear-gradient(180deg, #FBB03B 0%, #FBB03B 20%, #34B27E 80%, #34B27E 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}